<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>Here there is a list of services that I offer in case you want to get in touch with me.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="fa-brands fa-python"></i></div>
          <h4 class="title"><a href="">Python Lessons</a></h4>
          <p class="description">Learn Python from beginner to advanced, through theory and practical exercises.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="fa-brands fa-windows"></i></div>
          <h4 class="title"><a href="">PowerBi Lessons</a></h4>
          <p class="description">Learn PowerBi and Power Query from beginner to intermediate level.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="fa-solid fa-robot"></i></div>
          <h4 class="title"><a href="">Machine Learning</a></h4>
          <p class="description">I offer machine learning support for classification and regression problems. </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="fa-solid fa-spider"></i></div>
          <h4 class="title"><a href="">Scraping</a></h4>
          <p class="description">I can scrape data from websites and store into databases.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="fa-solid fa-chart-column"></i></div>
          <h4 class="title"><a href="">Data Analytics</a></h4>
          <p class="description">I can extract statistical information from data and help to take data driven decisions.</p>
        </div>
      </div>
      <p>Would you like support to some other type of project? Just drop a message!<br>
      My rate is 80 &euro;/h, but it may change based on my availability. First 30 minutes for free.      </p>
      <button type="button" (click)="toContact()" routerLink="/contact" routerLinkActive="active" class="btn btn-danger" >Hire Me 👷</button>

    </div>
  </section><!-- End Services Section -->
