<!-- ======= Facts Section ======= -->
<section id="facts" class="facts">
    <div class="container">

      <div class="section-title">
        <h2>Facts</h2>
        <p>Some other interesting stuff about me.</p>
      </div>

      <div class="row no-gutters">

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
          <div class="count-box">
            <i class="fa-solid fa-earth-americas"></i>
            <span class="purecounter">{{countrycount}}</span>
            <p><strong>Countries</strong> where I've lived so far</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="count-box">
            <i class="fa-brands fa-youtube"></i>
            <span class="purecounter">{{subscribercount}}+</span>
            <p><strong>Youtube</strong> subscribers until now</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="count-box">
            <i class="fa-solid fa-stamp"></i>
            <span class="purecounter">{{patentcount}}</span>
            <p><strong>Patent</strong> registered</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="count-box">
            <i class="fa-solid fa-award"></i>
            <span class="purecounter">{{awardscount}}</span>
            <p><strong>Awards</strong> received during my working career</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Facts Section -->