<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Skills</h2>
        <p>These are some of the things I am good at. No enough? Then you can also check some of my projects in the next section.</p>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6" data-aos="fade-up">

          <!--Programming-->
          <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
                <strong>Programming Languages</strong>
            </div>
            <div class="mt-2 d-flex justify-content-between align-items-center">
              Matlab, Octave, Python, Latex
                <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> </div>
            </div>
            <div class="mt-1 d-flex justify-content-between align-items-center">
              R, Fortran, CUDA C
                <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i> </div>
            </div>
        </div>

          <!--Python Libs-->
          <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
                <strong>Python Libraries</strong>
            </div>
            <div class="mt-2 d-flex justify-content-between align-items-center">
              Flask, Django, Pandas, Numpy, Matplotlib, Folium
                <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> </div>
            </div>
            <div class="mt-1 d-flex justify-content-between align-items-center">
              Scikit-learn
                <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i> </div>
            </div>
            <div class="mt-1 d-flex justify-content-between align-items-center">
              Tensorflow
                <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
            </div>
        </div>

          <!--BI Tools-->
          <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
                <strong>Programming</strong>
            </div>
            <div class="mt-2 d-flex justify-content-between align-items-center">
              Tableau, Microsoft PowerBI, Databricks
                <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> </div>
            </div>
            <div class="mt-1 d-flex justify-content-between align-items-center">
              Microsoft SQL Server, Microsoft Azure, Azure Data Factory
                <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i> </div>
            </div>
        </div>

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <!--IDEs-->
            <div class="card p-3">
              <div class="d-flex justify-content-between align-items-center">
                <strong>IDEs</strong>
              </div>
              <div class="mt-2 d-flex justify-content-between align-items-center">
                Jupyter, Spyder, Texmaker
                  <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"> </i> </div>
              </div>
              <div class="mt-1 d-flex justify-content-between align-items-center">
                RStudio
                  <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i> </div>
              </div>
            </div>

            <!--Other Softwares-->
            <div class="card p-3">
                <div class="d-flex justify-content-between align-items-center">
                  <strong>Other Softwares</strong>
                </div>
                <div class="mt-2 d-flex justify-content-between align-items-center">
                  SolidWorks, SolidEdge, Inventor, Xfoil
                    <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"> </i> </div>
                </div>
                <div class="mt-1 d-flex justify-content-between align-items-center">
                  OpenFOAM, freeFem++, Paraview
                    <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                </div>
                <div class="mt-1 d-flex justify-content-between align-items-center">
                  SU2, Ansys Fluent
                    <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                </div>
            </div>

            <!--Languages-->
            <div class="card p-3">
              <div class="d-flex justify-content-between align-items-center">
                <strong>Languages</strong>
              </div>
              <div class="mt-2 d-flex justify-content-between align-items-center">
                  English, Italian, Spanish
                  <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"> </i> </div>
              </div>
              <div class="mt-1 d-flex justify-content-between align-items-center">
                German
                <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating"></i> <i class="fa fa-star rating"></i> <i class="fa fa-star rating"></i> </div>
              </div>
              <div class="mt-1 d-flex justify-content-between align-items-center">
                  Czech
                  <div class="small-ratings"> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating"></i> <i class="fa fa-star rating"></i> <i class="fa fa-star"></i> </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </section><!-- End Skills Section -->