<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>I mainly communicate via email. For any preliminary business discussions, email correspondence is required.</p>
      </div>

      <div class="row" data-aos="fade-in">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="fa-solid fa-location-dot"></i>
              <h4>Location:</h4>
              <p>Salzburg, AT</p>
            </div>

            <div class="email">
              <i class="fa-solid fa-envelope"></i>
              <h4>Email:</h4>
              <p>federicogentile@protonmail.com</p>
            </div>

            <div class="phone">
              <i class="fa-solid fa-phone"></i>
              <h4>Call:</h4>
              <p>Only on request via email.</p>
            </div>
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <div  class="info">
            <div class="map-container">
              <div class="map-frame">
                <div id="map"></div>
              </div>
            </div>
            
          </div>
        </div>

      </div>

    </div>
</section><!-- End Contact Section -->