<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>I am currently working for <strong>Austrian
          Airlines</strong> as a <strong>Business Intelligence Expert</strong>. I am a really passionate at working with data and my
          favorite tools are <strong>Tableau</strong> (for data visualization) and <strong>Python</strong>. I have been using this programming
          language on a daily basis for the past 5 years. During my working experience I got to get in touch
          with different topics and technologies, for example:</p><br>
          <ul>
            <li><strong>data science</strong> projects (scikit-learn): Twitter Sentiment Analysis, Time of arrival predictions</li>
            <li><strong>data analytics</strong> (pandas, numpy, matplotlib): Statistical analysis of Left behind bags, Ticket
              refund due to COVID-19</li>
            <li><strong>web development</strong> in Flask (and JavaScript, CSS, HTML): OKR web app platform</li>
          </ul>
          <p>
          Basically Python is my daily bread. I am also really comfortable at using Business Intelligence tools
          such as <strong>Tableau</strong> and <strong>PowerBi</strong> to present my results to the top management of the company.
          Most of the data I work with comes form the company DWHs where I use <strong>Microsoft SQL Server</strong>
          to retrieve data. I also make use of <strong>API</strong> queries and data scraping (beautiful soup) when needed.
          To automate ETL processes I like to use <strong>Azure DevOps</strong>, <strong>Databricks</strong> and <strong>Azure Data Factory</strong>.
          Of course I am open to learn new platforms such as AWS and Google Analytics if needed.
        <br>
        <p> Wanna download it?</p>
        <button (click)="downloadMyFile()" type="button" class="btn download-button">Get It</button>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Data Analyst Process Developer</h4>
            <h5>2022 - Present</h5>
            <p><strong>Red Bull</strong>, <em>Salzburg-AT</em></p>
            <a href="https://www.redbull.com" target="_blank"><img src="assets/img/logo_redbull.png"></a>           
            <p>Member of the Finance Department. My role touches the following 4 topics:</p>
            <ul>
              <li>Identify new data sources relevant for the business</li>
              <li>Analyze data to extract valuable information to help top management's decision making</li>
              <li>Spread data knowledge across the company to increase data literacy and knowhow</li>
              <li>Data harmonization and integration within the company DWH</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Python Developer & Data Scientist Jr</h4>
            <h5>2019 - 2022</h5>
            <p><strong>Austrian Airlines</strong>, <em>Vienna-AT</em></p>
            <a href="https://www.austrian.com/it/en/homepage" target="_blank"><img src="assets/img/logo_austrian_airlines.png"></a>
            <p>Member of Digital Delivery team. My role is to define, organize and implement solutions to transform the airline
            towards a lean, efficient and 4.0 industry like company.
            <br><u>Main projects:</u></p>
            <ul>
              <li>ETA (Estimated Time of Arrival) & Taxi-Time prediction model based on (MLR) Multiple Linear Regression.</li>
              <li>Twitter Sentiment Analysis by applying NLP algorithms (ex: RandomForestClassifier) to analyze customers perception.</li>
              <li>Data analytics and reporting of:
                <ul><br>
                  <li>Company economical situation</li>
                  <li>European air traffic between countries</li>
                </ul>
              </li>
              <li>Web interface to track aircraft real time positioning based on Opensky API.</li>
              <li>OKR web app developed with Flask to track company's targets. Application and the database hosted on Azure.</li>
              <li>Luggage optimization via statistical analysis on historical flights.</li>
              <li>Automate manual processes such as data manipulation, parsing and analytic by using Databricks notebooks
                orchestrated via Azure Data Factory pipelines.</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>BI expert & Data Analyst</h4>
            <h5>2020 - 2021</h5>
            <p><strong>Lufthansa Group</strong>, <em>Frankfurt-DE</em></p>
            <a href="https://www.lufthansagroup.com/de/home.html" target="_blank"><img src="assets/img/logo_lufthansa.png"></a>
            <p>Member of the ReNew team. My role is help the company to survive during the COVID-19 by aggregating and cleaning
              procurement data and generating dashboards to display potential financial savings.
            <br><u>Main projects:</u></p>
            <ul>
              <li>Functional Procurement reports based on Tableau Dashboards and Python based statistical analysis.</li>
              <li>Airport Fees and Charges analysis to identify cost differences across all airports.</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Lecturer</h4>
            <h5>2020 - 2021</h5>
            <p><strong>Talent Garden</strong>, <em>Vienna-AT</em></p>
            <a href="https://talentgarden.org/en/" target="_blank"><img src="assets/img/logo_talent_garden.png"></a>
            <p>Business Intelligence lecturer. I create video tutorials and hold class and 1on1 lessons about BI and Microsoft Power BI.
            <br><u>Main projects:</u></p>
            <ul>
              <li>Oct 2020 - RBI Mind The Data Training</li>
              <li>Jan 2021 - Business Data Analysis Part 4</li>
              <li>Jun 2021 - Business Intelligence</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>R&D Scientist II</h4>
            <h5>2016 - 2019</h5>
            <p><strong>Honeywell Aerospace</strong>, <em>Brno-CZ</em></p>
            <a href="https://aerospace.honeywell.com/" target="_blank"><img src="assets/img/logo_honeywell.jpeg"></a>
            <p>Member of Mission Management and Flight Operations team. My goal was to find solutions to help airlines to reduce
              costs, save fuel and time.
            <br><u>Main projects:</u></p>
            <ul>
              <li>Creation of a 3D airspace topological graph (based on ARINC 424 database) and flight optimization with Dijkstra’s
                algorithm.</li>
              <li>Data preparation and simulation of in-flight turbulence avoidance.</li>
              <li>Statistical analysis of resolution advisory of TCAS/TSAA flight encounters.</li>
              <li>On-Board Drone Detection: Experimenting with aircraft on-board camera to detect drone hazard via image
                recognition using YOLO.</li>
            </ul>
            <p><u>Awards & Patents:</u></p>
            <ul>
              <li>1 silver award for successfullly delivering SID/STAR automatic detection to costumer.</li>
              <li>2 bravo awards for going above and beyond daily responsibilities.</li>
              <li>1 patent for SID/STAR automatic detection.</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>M.Sc. in Aeronautical Engineering - Aerodynamics (2 year program)</h4>
            <h5>2012 - 2015</h5>
            <p><strong>Polythecnic of Milan</strong>, <em>Final Grade:
              103/110 or GPA: 3.8.</em></p>
            <a href="https://www.polimi.it/" target="_blank"><img src="assets/img/logo_polimi.png" style="width:110px;margin-bottom:10px;"></a>
            <p>Thesis: <em>“Molecular gasdynamic simulation using GPU: applications and performance analysis”</em>
              Analysis of the performance of a molecular dynamic code (Direct Simulation Monte Carlo) aimed to estimate the
              viscosity of a diatomic dilute gas using GPUs as instruments to reduce computing time.</p>
          </div>
          <div class="resume-item">
            <h4>B.Sc. in Aerospace Engineering (3 year program)</h4>
            <h5>2009 - 2012</h5>
            <p><strong>Polythecnic of Milan</strong>, <em>Final Grade:
              101/110 or GPA: 3.7.</em></p>
            <a href="https://www.polimi.it/" target="_blank"><img src="assets/img/logo_polimi.png" style="width:110px;;margin-bottom:10px;"></a>
          </div>
          <div class="resume-item">
            <h4>Full Year Exchange Program - High School</h4>
            <h5>2007 - 2008</h5>
            <p><strong>Santa Margarita Catholic High School</strong>, <em>Rancho Santa
              Margarita, CA, USA, G.P.A 4.0.</em></p>
            <a href="https://www.smhs.org/" target="_blank"><img src="assets/img/logo_smchs.png"></a>
          </div>
        </div>
      </div>

    </div>
</section><!-- End Resume Section -->